Follow me:
<div id="stalker">
  {% if site.theme.social.github %}
  <a title="{{ site.theme.social.github }} on Github" href="https://github.com/{{ site.theme.social.github }}">
    <i class="icon-github-sign"></i>
  </a>
  {% endif %}

  {% if site.theme.social.bitbucket %}
  <a title="{{ site.theme.social.bitbucket }} on Bitbucket" href="https://bitbucket.com/{{ site.theme.social.bitbucket }}/">
    <i class="icon-bitbucket-sign"></i>
  </a>
  {% endif %}

  {% if site.theme.social.hacker_news %}
  <a title="{{ site.theme.social.hacker_news }} on Hacker News" href="https://news.ycombinator.com/user?id={{site.theme.social.hacker_news }}">
    <i class="icon-sign-blank"></i>
    <span class="icon-overlay icon-hn">Y</span> {% comment %} Hack to get a HN icon {% endcomment %}
  </a>
  {% endif %}

  {% if site.theme.social.stackexchange %}
  <a title="{{ site.theme.name }} on Stack Exchange" href="https://stackexchange.com/users/{{site.theme.social.stackexchange }}">
    <i class="icon-stackexchange"></i>
  </a>
  {% endif %}

  {% if site.theme.social.stackoverflow %}
  <a title="{{ site.theme.name }} on Stack Overflow" href="http://stackoverflow.com/users/{{site.theme.social.stackoverflow }}">
    <i class="icon-stackexchange"></i>
  </a>
  {% endif %}

  {% if site.theme.social.twitter %}
  <a title="{{ site.theme.social.twitter }} on Twitter" href="https://twitter.com/{{ site.theme.social.twitter }}">
    <i class="icon-twitter-sign"></i>
  </a>
  {% endif %}

  {% if site.theme.social.facebook %}
  <a title="{{ site.theme.name }} on Facebook" href="https://facebook.com/{{ site.theme.social.facebook }}">
    <i class="icon-facebook-sign"></i>
  </a>
  {% endif %}

  {% if site.theme.social.tumblr %}
  <a title="{{ site.theme.name }} on tumblr" href="https://{{ site.theme.social.tumblr }}.tumblr.com">
    <i class="icon-tumblr-sign"></i>
  </a>
  {% endif %}

  {% if site.theme.social.linkedin %}
  <a title="{{ site.theme.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.theme.social.linkedin }}">
    <i class="icon-linkedin-sign"></i>
  </a>
  {% endif %}

  {% if site.theme.social.gplus %}
  <a title="{{ site.theme.name }} on Google Plus" href="https://plus.google.com/{{ site.theme.social.gplus }}">
    <i class="icon-google-plus-sign"></i>
  </a>
  {% endif %}

  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="icon-rss-sign"></i>
  </a>
</div>
