---
layout: default
---

<p class="meta">
  {{ page.date | date: "%B %d, %Y" }}
  <a href="/">
    <i class="home icon-home"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>

<div id="post">
  {{ content }}
</div>

{% comment %}  Maybe enable this when I have more posts :-D
<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}

<div id="disqus_thread"></div>
<script type="text/javascript">
   var disqus_shortname = 'philipj';
   var disqus_identifier = '{{ page.url }}';
   var disqus_title = '{{page.title }}';
   var disqus_url = 'http://philipjagielski.com{{ page.url }}';
   (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
   })();
</script>
<noscript>Please enable JavaScript to <a href="http://disqus.com/?ref_noscript">view the comments.</a></noscript>
